<?xml version='1.0' encoding='utf-8'?>
<widget id="com.feedhenry.apps.semat" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Semat</name>
    <description>
        SEMAT mobile client application, built using Cordova
    </description>
    <content src="index.html" />

    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />

    <preference name="fullscreen" value="false" />
    <preference name="disallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />

    <!-- specific plugins -->
    <plugin name="cordova-plugin-whitelist" spec="1" />

    <!-- specific Cordova Android build -->
    <platform name="android">
	  <icon src="www/res/android/ldpi.png" density="ldpi" />
	  <icon src="www/res/android/mdpi.png" density="mdpi" />
	  <icon src="www/res/android/hdpi.png" density="hdpi" />
	  <icon src="www/res/android/xhdpi.png" density="xhdpi" />
    </platform>

</widget>