<?xml version='1.0' encoding='utf-8'?>
<widget id="com.feedhenry.apps.semat" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Semat</name>
    <description>
        Semat Android app, built using Cordova
    </description>
    <content src="index.html" />
    <access origin="*" />
    
    <!-- icons -->
    <platform name="android">
	    <icon src="res/icons/android/icon-ldpi.png" qualifier="ldpi" />
		  <icon src="res/icons/android/icon-mdpi.png" qualifier="mdpi" />
		  <icon src="res/icons/android/icon-hdpi.png" qualifier="hdpi" />
		  <icon src="res/icons/android/icon-xhdpi.png" qualifier="xhdpi" />
	  </platform>
    
    
    <preference name="fullscreen" value="false" />
    <preference name="disallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <plugin name="cordova-plugin-whitelist" spec="1.2.0" />

</widget>
