<?xml version='1.0' encoding='utf-8'?>
<widget id="com.feedhenry.apps.semat" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Semat</name>
    <description>
        Semat Android app, built using Cordova
    </description>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="disallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <plugin name="cordova-plugin-whitelist" spec="1.2.0" />

    <!-- icons -->
    <platform name="android">
              <icon src="res/icons/android/icon-ldpi.png" density="ldpi" />
              <icon src="res/icons/android/icon-mdpi.png" density="mdpi" />
              <icon src="res/icons/android/icon-hdpi.png" density="hdpi" />
              <icon src="res/icons/android/icon-xhdpi.png" density="xhdpi" />
     </platform>

</widget>